@charset 'UTF-8';

@font-face{font-family:'cameoawesome';src:url('font/cameoawesome-webfont.eot?v=4.0.1');src:url('font/cameoawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font/cameoawesome-webfont.woff?v=4.0.1') format('woff'),url('font/cameoawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/cameoawesome-webfont.svg?v=4.0.1#cameoawesomeregular') format('svg');font-weight:normal;font-style:normal}


/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	*
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	body, input, textarea
	{
		font-family: 'Open Sans', 'sans-serif';
		line-height: 1.85em;
		color: #888;
		font-weight: 400;
	}

	a
	{
		color: #3B95C6;
		text-decoration: underline;
		-moz-transition: color .2s ease-in-out;
		-webkit-transition: color .2s ease-in-out;
		-o-transition: color .2s ease-in-out;
		-ms-transition: color .2s ease-in-out;
		transition: color .2s ease-in-out;
	}
	
		a:hover
		{
			color: #1B75A6 !important;
		}

		a img
		{
			border: 0;
		}

	strong, b
	{
		font-weight: 700;
		color: #3e3e3e;
	}
	
	h1, h2, h3, h4, h5, h6
	{
		color: #666;
	}
	
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
		{
			text-decoration: none;
			color: inherit;
		}
	
	h2, h3, h4, h5, h6
	{
		font-weight: 300;
	}
	
	h1
	{
		font-weight: 300;
	}
	h2 span {
		color: #666;
	}
	
		h1 strong
		{
			font-weight: 400;
		}
	
	em, i
	{
		font-style: italic;
	}
	
	form
	{
	}
	
		form input,
		form select,
		form textarea
		{
			-webkit-appearance: none;
		}

		form input[type=text],
		form input[type=password],
		form select,
		form textarea
		{
			border: 0;
			padding: 0.75em;
			font-size: 1em;
			border-radius: 8px;
			background: #282828;
			color: #bbb;
			box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.05), 0px 1px 0px 0px rgba(255,255,255,0.025);
			width: 100%;
			-moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
			-webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
			-o-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
			-ms-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
			transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
		}

		form input[type=text]:focus,
		form input[type=password]:focus,
		form select:focus,
		form textarea:focus
		{
			background: #252525;
			box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.05), 0px 1px 0px 0px rgba(255,255,255,0.025), inset 0px 0px 2px 1px #74CAEE;
		}

		form textarea
		{
			height: 15em;
		}
		
		form .formerize-placeholder
		{
			color: #555 !important;
		}

		form ::-webkit-input-placeholder
		{
			color: #555 !important;
		}

		form :-moz-placeholder
		{
			color: #555 !important;
		}

		form ::-moz-placeholder
		{
			color: #555 !important;
		}

		form :-ms-input-placeholder
		{
			color: #555 !important;
		}

		form ::-moz-focus-inner
		{
			border: 0;
		}

        form textarea.attention,
        form input.attention{
            color: #555 !important;
            background: #02BED2 !important;
        }

	br.clear
	{
		clear: both;
	}

	hr
	{
		border: 0;
		border-top: solid 1px rgba(0,0,0,0.5);
		box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.1);
		height: 1px;
		margin: 3em 0 4em 0;
	}
	
	p, ul, ol, dl, table
	{
		margin-bottom: 2em;
	}
	p span{
		font-size: 0.7em;
	}
	section,
	article
	{
		margin-bottom: 3em;
	}
	
	section > :last-child,
	article > :last-child
	{
		margin-bottom: 0;
	}

	section:last-child,
	article:last-child
	{
		margin-bottom: 0;
	}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	.image-small
	{
		display: block;
		width: 100%;

		margin: -3em 0 0 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	.image-left-small
	{
		float: left;
		width: 160px;

	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}
	
	.button
	{
		position: relative;
		display: inline-block;
		color: #666;
		text-decoration: none;
		font-weight: 400;
		border: 3px solid #666;	
		cursor: pointer;
		border-radius: 0px;
		text-shadow: 0px 1px 0.5px rgba(255,255,255,0.5);
		overflow: hidden;
		-moz-transition: background-color .2s ease-in-out;
		-webkit-transition: background-color .2s ease-in-out;
		-o-transition: background-color .2s ease-in-out;
		-ms-transition: background-color .2s ease-in-out;
		transition: background-color .2s ease-in-out;
	}

		.button:before
		{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('images/bg.png');
		}

		.button:hover
		{
			background-color: #666;
			color: #fff !important;
			text-shadow: 0px -1px 0.5px rgba(0,0,0,0.5);
		}
		
		.button:active
		{
			top: 1px;
		}
	
		.button-alt
		{

		}

			.button-alt:hover
			{
			}
			
			.button-alt:active
			{
			}
	
		.button-big
		{
		}

	ul.social
	{
		cursor: default;
		margin: 0;
	}
	
		ul.social li
		{
			position: relative;
			display: inline-block;
			margin: 0.25em;
			top: 0;
			border-radius: 6px;
			overflow: hidden;
			background: #444;
			background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
			background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
			background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
			background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
			background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
			-moz-transition: background-color .2s ease-in-out, top .2s ease-in-out;
			-webkit-transition: background-color .2s ease-in-out, top .2s ease-in-out;
			-o-transition: background-color .2s ease-in-out, top .2s ease-in-out;
			-ms-transition: background-color .2s ease-in-out, top .2s ease-in-out;
			transition: background-color .2s ease-in-out, top .2s ease-in-out;
			box-shadow: inset 0px 0px 0px 1px #282828, inset 0px 2px 1px 0px rgba(255,255,255,0.1);
		}

			ul.social li:before
			{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: url('images/bg.png');
			}

			ul.social li.twitter:hover				{ background-color: #2DAAE4; }
			ul.social li.facebook:hover				{ background-color: #3C5A98; }
			ul.social li.dribbble:hover				{ background-color: #C4376B; }
			ul.social li.linkedin:hover				{ background-color: #006599; }
			ul.social li.tumblr:hover				{ background-color: #51718A; }
			ul.social li.googleplus:hover			{ background-color: #DA2713; }
			ul.social li.github:hover				{ background-color: #FAFAFA; }
			ul.social li.rss:hover					{ background-color: #F2600B; }
			ul.social li.instagram:hover			{ background-color: #E0D7C8; }
			ul.social li.foursquare:hover			{ background-color: #39A3D4; }
			ul.social li.skype:hover				{ background-color: #10BEF1; }
			ul.social li.soundcloud:hover			{ background-color: #FE5419; }
			ul.social li.youtube:hover				{ background-color: #BF2E25; }
			ul.social li.blogger:hover				{ background-color: #FF6501; }
			ul.social li.flickr:hover				{ background-color: #0062DB; }
			ul.social li.vimeo:hover				{ background-color: #4C8AB0; }

			ul.social li:hover
			{
				top: -5px;
			}

			ul.social li:active
			{
				top: 0;
			}

			ul.social li a
			{
				display: block;
				position: relative;
				width: 48px;
				height: 48px;
				outline: 0;
				color: #2E2E2E !important;
				line-height: 48px;
				font-size: 24px;
				text-shadow: 1px 1px 0px rgba(255,255,255,0.1);
			}
			
			ul.social li a span
			{
				display: block;
				text-indent: -9999px;
			}
			
	.box
	{
		text-align: center;
	}

		.box .image-full
		{
			position: relative;
		}

/*********************************************************************************/
/* Icons                                                                         */
/* Powered by Font Awesome by Dave Gandy | http://fontawesome.io                 */
/* Licensed under the SIL OFL 1.1 (font), MIT (CSS)                              */
/*********************************************************************************/

/* FONT PATH
 * -------------------------- */
.fa {
  color: #02BED2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-toprhino {
  font-size: 1.8em;
  vertical-align: -10%;
  height: 0.4em;
}
.fa-toplogo {
  font-size: 1.1em;
  vertical-align: -15%;
  height: 0.4em;
}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		background-image: url('images/bg.png');

	}

	.wrapper-first
	{
        padding:0px;
        padding-top:58px;
		box-shadow: none;
	}

	.wrapper-style1
	{
		background-image: none;
		background-color: #fff;
	}
	
	.wrapper-style2
	{
		background-color: #fff;
		background-image: none;
	}
	
	.wrapper-style3
	{
		background-color: #fafafa;
		text-shadow: 1px 1px 0px #fff;
	}

	.wrapper-style4
	{
		background-color: #303030;
		color: #999;
		text-shadow: -1px -1px 0px #181818;
	}

		.wrapper-style4 h1, 
		.wrapper-style4 h2, 
		.wrapper-style4 h3, 
		.wrapper-style4 h4, 
		.wrapper-style4 h5, 
		.wrapper-style4 h6
		{
			color: #fff;
		}
		
/*********************************************************************************/
/* logo                                                                           */
/*********************************************************************************/
.logo {
  	color: #666;
	min-width: 1240px;
	font-size: 3em;
	font-family: 'Open Sans', 'sans-serif';
	font-weight: 300;
	line-height: 1.2em;
  	position: absolute;
  	top: 60px;
 	left: 50%;
	text-align: center;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
  	z-index: 1002;
	text-shadow: 1px 1px 0px #fff;
}
.logo .fa {
  	color: #666;
	text-shadow: 1px 1px 0px #fff;
	font-size: 1em;
}
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		background-color: rgba(0,0,0,1);
		text-align: center;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 10000;
		cursor: default;
	}
	
		#nav ul
		{
			margin-bottom: 0;
		}
	
		#nav li
		{
			display: inline-block;
		}
		
		#nav a
		{
			font-size: 1.1em;
			position: relative;
			display: block;
			color: #02BED2;
			text-decoration: none;
			outline: 0;
			font-family: 'Open Sans', 'sans-serif';
			font-weight: 400;
		}
        #nav .i18n a {
            display:inline-block;
        }
		
			#nav a:hover
			{
				color: #02BED2 !important;
			}
			
			#nav a.active:before
			{
				content: '';
				display: block;
				position: absolute;
				bottom: -0.6em;
				left: 50%;
				margin-left: -0.75em;
				border-left: solid 0.75em transparent;
				border-right: solid 0.75em transparent;
				border-top: solid 0.6em #282828;
			}
#git {
  	position: fixed;
	top: 57px;
	right: 0; 
	border: 0;
	z-index: 10001;
    width:120px;
    height:120px;
}
#git img{
    height:100%;
    width:100%;
}
			
/*********************************************************************************/
/* Articles                                                                      */
/*********************************************************************************/

	#top
	{
	}

		#top .me
		{
			border-radius: 50%;
			overflow: hidden;
		}

		#top p
		{
		}
	
			#top p a
			{
				color: inherit;
			}
.store {
  	position: relative;
	z-index: 1008;
}
.storelink {
	width: 200px;
	display: inline-block;
	margin: 0 1px 50px 1px;
}
.faqtext
	{
		margin: 0 5em 0 5em;
		text-align: justify;

	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		color: #666;
	}
	
		#copyright a
		{
			color: inherit;
			-moz-transition: color .2s ease-in-out;
			-webkit-transition: color .2s ease-in-out;
			-o-transition: color .2s ease-in-out;
			-ms-transition: color .2s ease-in-out;
			transition: color .2s ease-in-out;
		}
		
		#copyright a:hover
		{
			color: #777;
		}

/*********************************************************************************/
/* own Styles                                                                    */
/*********************************************************************************/
.hidden-inp {display:none !important}
.ab_form {display:none !important}