

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		font-size: 11pt;
	}
	.component-fullwidth {
		height: 500px;
	}
	.component-fullwidth li img {
		height: 500px;
	}
.logo {
	min-width: 890px;
	font-size: 2.6em;
	line-height: 1.2em;
  	top: 30px;
 	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.component nav a {
	width: 45px;
	height: 90px;
}
.component-fullwidth nav a {
	position: absolute;
	top: 60%;
}


#git {
    top: 95px;
}
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		padding: 5em 0 5em 0;
		text-align: center;
	}
	
		.wrapper-first
		{
            padding:0px;
            padding-top:48px;
			height:380px;
		}

		.wrapper-style4 .row-special
		{
			margin: 2em 0 0 0;
			padding: 2em 0 2em 0;
		}

/*********************************************************************************/
/* Articles                                                                      */
/*********************************************************************************/

	#top
	{
	}

		#top .me
		{
			width: 19.5em;
			height: 19.5em;
			margin: 0;
		}