
.container {
	overflow: hidden;
}

/* This is the style for the dummy image slider. Animations are in fx[type].css */

.component {
	margin: 0 auto;
	position: relative;
	margin-bottom: 0px;
	max-width: 100%;
}

.component-small {
	width: 650px;
	height: 290px;
}

.component-fullwidth {
	width: 100%;
	height: 600px;
	margin-bottom: 0;
}

.component-transparent {
	width: 900px;
	height: 500px;
}

.component > ul {
	width: 100%;
	max-width: 100%;
	height: 100%;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

.component-small > ul {
	width: 450px;
}

.component-fullwidth > ul {
	overflow: hidden;
}

.component-transparent > ul {
	width: 112px;
}

.component li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	z-index: 999;
}

.component-fullwidth li {
	overflow: hidden;
}

.component .current {
	opacity: 1;
	pointer-events: auto;
	z-index: 1000;
}

.component li img {
	display: block;
	max-width: 100%;
}

.component-fullwidth li img {
	min-width: 100%;
	max-width: none;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.component nav a {
	width: 90px;
	height: 180px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.component-small nav a.prev,
.component-transparent nav a.prev {
	left: 0px;
}

.component-small nav a.next,
.component-transparent nav a.next {
	right: 0px;
}

.component-fullwidth nav a {
	position: absolute;
	top: 50%;
	z-index: 1001;
	opacity: 0.5;
	-moz-transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}
.component-fullwidth nav a:hover {
	opacity: 1;
	-moz-transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}

.component-fullwidth nav a.prev {
	left: 0px;
	margin-left: 5px;
	background: url(images/left.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.component-fullwidth nav a.next {
	right: 0px;
	margin-right: 5px;
	background: url(images/right.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.component nav a::before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.component nav a:hover::before {
	opacity: 1;
}



@media screen and (max-width: 35.5em) {
	.component-small nav a {
		top: 100%;
		margin-top: 10px;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}

	.component-small nav a.prev {
		left: 50%;
		margin-left: -80px;
	}

	.component-small nav a.next {
		margin-left: 20px;
		right: auto;
		left: 50%;
	}
}


/* Slider Style */
.pxs_container{
	width:100%;
	height:520px;
	position:relative;
	margin-top:40px;
	overflow:hidden;
}
.pxs_bg{
	background:transparent url(../images/bg.png) repeat top left;	
}
.pxs_bg div{
	position:absolute;
	top:0px;
	left:0px;
	width:7584px; /*1264px window width times number of images*/
	height:520px;
	background-repeat:repeat;
	background-position:top left;
	background-color:transparent;
}
.pxs_bg .pxs_bg1{

	background-image:url(../images/bg1.png);
	/*left negative 1/8 of ww*/
	background-repeat:repeat-x;
}
.pxs_bg .pxs_bg2{
	background-image:url(../images/bg2.png);
	/*left negative 1/4 of ww*/
}
.pxs_bg .pxs_bg3{
	background-image:url(../images/bg3.png);
	/*left negative 1/2 of ww*/
}
.pxs_slider_wrapper{
	display:none;
}
.pxs_container ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
ul.pxs_slider{
	position:absolute;
	left:0px;
	top:0px;
	height:520px;
}
ul.pxs_slider li{
	height:520px;
	float:left;
	position:relative;
}
ul.pxs_slider li img{
	display:block;
	margin:0px auto 0px auto;

}
ul.pxs_thumbnails{
	height:35px;
	position:absolute;
	top:480px;
	left:50%;
	
}
ul.pxs_thumbnails li{
	position:absolute;
	display:block;
}
ul.pxs_thumbnails li img{
	cursor:pointer;
	display:block;
	opacity:0.7;
}
ul.pxs_thumbnails li.selected img{
	opacity:1.0;
}
.pxs_navigation span{
	position:absolute;
	width:90px;
	height:180px;
	top:125px;
	opacity:0.6;
	cursor:pointer;
}
.pxs_navigation span:hover{
	opacity:0.9;
}
.pxs_navigation span.pxs_prev{
	background:url(../images/left.png) no-repeat center center;
	position:absolute;
	left: 5px;
}
.pxs_navigation span.pxs_next{
	background:url(../images/right.png) no-repeat center center;
	right: 5px;
}
.pxs_loading{
	color:#fff;
	font-size:20px;
	padding:15px 15px 15px 50px;
	position:absolute;
	background:#333 url(../images/ajax-loader.gif) no-repeat 10px 50%;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	opacity:0.7;
	width:180px;
	position:absolute;
	top:150px;
	left:50%;
	margin-left:-90px;
}
.detail{
	color: #000;
	font-size: 3em;
	width: 1200px;
	font-family: 'Open Sans', 'sans-serif';
	font-weight: 300;
	line-height: 1em;
	position: absolute;
	left: 50%;
  	text-shadow: rgba(255,255,255,1) 0.01em 0.01em 0.25em;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	top:395px;
}
.detail2{
	color: #444;
	width: 300px;
	font-family: 'Open Sans', 'sans-serif';
	line-height: 1.6em;
	position: absolute;
	left: 25%;
	text-align: left;
  	text-shadow: rgba(255,255,255,1) 0em 0.03em 0em;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	top:60px;
}