@(lang: String)

@import _root_.helper.Utils._

<!DOCTYPE HTML>
<html>

<head>
    <title>@i18n("seo.title")</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="@i18n("seo.description")"/>
    <meta name="keywords" content="@i18n("seo.keywords")"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/skel.min.js"></script>
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/component.css"/>
    <link rel="stylesheet" type="text/css" href="css/fxfullwidth.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <script src="js/modernizr.custom.js"></script>
    <noscript>
        <link rel="stylesheet" href="css/skel-noscript.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/style-desktop.css"/>
    </noscript>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" href="css/ie8.css"/><![endif]-->
    <!--[if lte IE 7]>
    <link rel="stylesheet" href="css/ie7.css"/><![endif]-->
</head>
<body>

<div id="git">
    <a href="https://github.com/memoConnect/cameoWWW/fork">
        <img
        src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
        alt="Fork me on GitHub"
        data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
    </a>
</div>
<!-- Nav -->
<nav id="nav">
    <ul class="container">
        <li><a href="#top"><span class="fa-toplogo fa cm-logo"></span><span
                class="fa-toprhino fa cm-rhino-positive"></span></a></li>
        <li><a href="#product">@i18n("navigation.functions")</a></li>
        <li><a href="#business">@i18n("navigation.business")</a></li>
        <li><a href="#faq">@i18n("navigation.faq")</a></li>
        <li><a href="#contact">@i18n("navigation.contact")</a></li>
    </ul>
</nav>

<!-- Home -->
<div class="wrapper wrapper-style1 wrapper-first">
    <article class="container_top" id="top">

        <section>
            <div id="component" class="component component-fullwidth fxSoftScale">
                <ul class="itemwrap">
                    <li class="current"><img src="img/8.jpg" alt="@i18n("slider.safer-communicator")"/>
                        <div class="logo">@i18n("slider.safer-communicator")</div>
                    </li>
                    <li><img src="img/6.jpg" alt="@i18n("slider.all-devices")"/>
                        <div class="logo">@i18n("slider.all-devices")</div>
                    </li>
                    <li><img src="img/7.jpg" alt="@i18n("slider.open-for-extern")"/>
                        <div class="logo">@i18n("slider.open-for-extern")</div>
                    </li>
                    <li><img src="img/9.jpg" alt="@i18n("slider.also-business")"/>
                        <div class="logo">@i18n("slider.also-business")</div>
                    </li>
                </ul>
                <nav>
                </nav>
            </div>
        </section>
        <script src="js/classie.js"></script>
        <script src="js/main.js"></script>
    </article>
</div>

<!-- Product -->
<div class="wrapper wrapper-style1">
    <article id="product">
        <header>
            <h2>@i18n("functions.header")</h2>

        </header>
        <div class="container">
            <div class="row">
                <div class="12u">
                </div>
            </div>
            <div class="row">
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-full"><img src="images/portfolio05.jpg" alt="@i18n("functions.safety.header")" />
                        </div>
                        <h3>@i18n("functions.safety.header")</h3>

                        <p>@i18n("functions.safety.text")</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-full"><img src="images/portfolio06.jpg" alt="@i18n("functions.open-source.header")" />
                        </div>
                        <h3>@i18n("functions.open-source.header")</h3>

                        <p>@i18n("functions.open-source.text")</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-full"><img src="images/portfolio01.jpg" alt="@i18n("functions.all-devices.header")" />
                        </div>
                        <h3>@i18n("functions.all-devices.header")</h3>

                        <p>@i18n("functions.all-devices.text")</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-full"><img src="images/portfolio12.jpg" alt="@i18n("functions.multi-identity.header")" />
                        </div>
                        <h3>@i18n("functions.multi-identity.header")</h3>

                        <p>@i18n("functions.multi-identity.text")</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-full"><img src="images/portfolio07.jpg" alt="@i18n("functions.anonymity.header")" />
                        </div>
                        <h3>@i18n("functions.anonymity.header")</h3>

                        <p>@i18n("functions.anonymity.text")</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-full"><img src="images/portfolio13.jpg" alt="@i18n("functions.unified-messaging.header")" />
                        </div>
                        <h3>@i18n("functions.unified-messaging.header")</h3>

                        <p>@i18n("functions.unified-messaging.text")</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-full"><img src="images/portfolio14.jpg" alt="@i18n("functions.extern-user.header")" />
                        </div>
                        <h3>@i18n("functions.extern-user.header")</h3>

                        <p>@i18n("functions.extern-user.text")</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-full"><img src="images/portfolio11.jpg" alt="@i18n("functions.free.header")" />
                        </div>
                        <h3>@i18n("functions.free.header")</h3>

                        <p>@i18n("functions.free.text")</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-full"><img src="images/portfolio10.jpg" alt=""/></div>
                        <h3>@i18n("functions.business.header")</h3>

                        <p>@i18n("functions.business.text")</p>
                    </article>
                </div>

            </div>

        </div>

    </article>
    <footer>
        <p>@i18n("functions.apps.header")</p>

        <div class="store">
            <div class="storelink">
                <div class="image image-full"><img src="images/appStore.png" alt=""/></div>
            </div>
            <div class="storelink">
                <div class="image image-full"><img src="images/playStore.png" alt=""/></div>
            </div>
            <div class="storelink">
                <div class="image image-full"><img src="images/winStore.png" alt=""/></div>
            </div>
        </div>
        <a href="#business" class="button button-big">@i18n("navigation.business")</a>
    </footer>
    </article>
</div>
</div>

<!-- business -->
<div class="wrapper wrapper-style3">
    <article id="business">
        <header>
            <h2>@i18n("business.header")</h2>
            <span>@i18n("business.text")</span>
        </header>
        <div class="container">
            <div class="row">
                <div class="11u">
                </div>
            </div>
            <div class="row">
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-small"><img src="images/business01.png" alt="@i18n("business.cameocard-pro.header")" />
                        </div>
                        <h3>@i18n("business.cameocard-pro.header")</h3>

                        <p>@i18n("business.cameocard-pro.text")</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-small"><img src="images/business02.png" alt="@i18n("business.coworker-identity.header")" />
                        </div>
                        <h3>@i18n("business.coworker-identity.header")</h3>

                        <p>@i18n("business.coworker-identity.text")</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-small"><img src="images/business03.png" alt="@i18n(" business.document-authenticity.header")" />
                        </div>
                        <h3>@i18n("business.document-authenticity.header")</h3>

                        <p>@i18n("business.document-authenticity.text")</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-small"><img src="images/business04.png" alt="@i18n("business.authentication.header")" />
                        </div>
                        <h3>@i18n("business.authentication.header")</h3>

                        <p>@i18n("business.authentication.text")</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-small"><img src="images/business05.png" alt="@i18n("business.external-customer.header")" />
                        </div>
                        <h3>@i18n("business.external-customer.header")</h3>

                        <p>@i18n("business.external-customer.text")</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-small"><img src="images/business06.png" alt="@i18n("business.archives.header")" />
                        </div>
                        <h3>@i18n("business.archives.header")</h3>

                        <p>@i18n("business.archives.text")</p>
                    </article>
                </div>

                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-small"><img src="images/business07.png" alt="@i18n("business.delegation-management.header")" />
                        </div>
                        <h3>@i18n("business.delegation-management.header")</h3>

                        <p>@i18n("business.delegation-management.text")</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-small"><img src="images/business08.png" alt="@i18n("business.sms.header")" />
                        </div>
                        <h3>@i18n("business.sms.header")</h3>

                        <p>@i18n("business.sms.text")</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <div class="image image-small"><img src="images/business09.png" alt="@i18n("business.presence-detection.header")" />
                        </div>
                        <h3>@i18n("business.presence-detection.header")</h3>

                        <p>@i18n("business.presence-detection.text")</p>
                    </article>
                </div>

            </div>
        </div>
        <footer>
            <p>@i18n("business.footer")</p>
            <a href="#contact" class="button button-big">@i18n("navigation.contact")</a>
        </footer>
    </article>
</div>

<!-- FAQ -->
<div class="wrapper wrapper-style2">
    <article id="faq">
        <header>
            <h2>@i18n("faq.header")</h2>
        </header>
        <div class="container">
            <div class="row">
                <div class="12u">

                    <h3>@i18n("faq.why-were-safe.header")</h3>

                    <div class="faqtext">
                        <p>@i18n("faq.why-were-safe.text")</p>
                        <hr/>
                    </div>

                    <h3>@i18n("faq.what-about-files.header")</h3>

                    <div class="faqtext">
                        <p>@i18n("faq.what-about-files.text")</p>
                        <hr/>
                    </div>

                    <h3>@i18n("faq.how-to-sign-in.header")</h3>

                    <div class="faqtext">
                        <p>@i18n("faq.how-to-sign-in.text")</p>
                        <hr/>
                    </div>

                    <h3>@i18n("faq.who-is-behind.header")</h3>

                    <div class="faqtext">
                        <p>@i18n("faq.who-is-behind.text")</p>
                        <hr/>
                    </div>

                    <h3>@i18n("faq.how-to-join-anonymous.header")</h3>

                    <div class="faqtext">
                        <p>@i18n("faq.how-to-join-anonymous.text")</p>
                        </p>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <h3>@i18n("faq.footer")</h3>
            <a href="#contact" class="button button-big">@i18n("navigation.contact")</a>
        </footer>
    </article>
</div>


<!-- Contact -->
<div class="wrapper wrapper-style4">
    <article id="contact" class="container small">
        <header>
            <h2><span>@i18n("contact.header")</span></h2>
        </header>
        <br>

        <div>
            <div class="row">
                <div class="12u">
                    <form method="post" action="#">
                        <div>
                            <div class="row half">
                                <div class="6u">
                                    <input type="text" name="name" id="name" placeholder="@i18n("contact.name")" />
                                </div>
                                <div class="6u">
                                    <input type="text" name="email" id="email" placeholder="@i18n("contact.email")"
                                    />
                                </div>
                            </div>
                            <div class="row half">
                                <div class="12u">
                                    <input type="text" name="subject" id="subject" placeholder="@i18n("contact.subject")" />
                                </div>
                            </div>
                            <div class="row half">
                                <div class="12u">
                                    <textarea name="message" id="message" placeholder="@i18n("ontact.message")"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="12u">
                                    <a href="#" class="button form-button-submit">@i18n("contact.submit")</a>
                                    <a href="#"
                                       class="button button-alt form-button-reset">@i18n("contact.reset")</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
</div>
<div class="wrapper wrapper-style4">
    <article id="impressum">
        <div class="row">
            <div class="12u">
                <hr/>
                <h3>@i18n("imprint.header")</h3>

                <p>@i18n("imprint.text")</p>
                <hr/>
            </div>
        </div>
        <footer>
            <ul id="copyright">
                <li>&copy; @currentYear <a href="@i18n("website.href")">@i18n("website.name")</a></li>
            </ul>
        </footer>
    </article>
</div>
</body>
</html>