@(lang: String)

<!DOCTYPE HTML>
<html>
	<head>
		<title>@lang</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="js/jquery.min.js"></script>
		<script src="js/config.js"></script>
		<script src="js/skel.min.js"></script>
		<link rel="stylesheet" href="css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<link rel="stylesheet" type="text/css" href="css/fxfullwidth.css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		<script src="js/modernizr.custom.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="css/ie7.css" /><![endif]-->
	</head>
	<body>	
		<div id="git"><a href="https://github.com/you"><img src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a></div>	
		<!-- Nav -->
			<nav id="nav">
				<ul class="container">
					<li><a href="#top"><span class="fa-toplogo fa cm-logo"></span><span class="fa-toprhino fa cm-rhino-positive"></span></a></li>
					<li><a href="#product">@Messages("navigation.functions")</a></li>
					<li><a href="#business">@Messages("navigation.business")</a></li>
					<li><a href="#faq">@Messages("navigation.faq")</a></li>
					<li><a href="#contact">@Messages("navigation.contact")</a></li>
				</ul>
			</nav>

		<!-- Home -->
			<div class="wrapper wrapper-style1 wrapper-first">
				<article class="container_top" id="top">
	
			<section>
				<div id="component" class="component component-fullwidth fxSoftScale">
					<ul class="itemwrap">
						<li class="current"><img src="img/8.jpg" alt="img08"/>
							<div class="logo">Der sichere Communicator!</div></li>
						<li><img src="img/6.jpg" alt="img06"/>
							<div class="logo">Auf allen Endgeräten!</div></li>
						<li><img src="img/7.jpg" alt="img07"/>
							<div class="logo">Offen für externe Nutzer!</div></li>
						<li><img src="img/9.jpg" alt="img08"/>
							<div class="logo">Auch für Geschäftskunden!</div></li>
					</ul>
					<nav>
					</nav>
				</div>
			</section>
		<script src="js/classie.js"></script>
		<script src="js/main.js"></script>
				</article>
			</div>

		<!-- Product -->
			<div class="wrapper wrapper-style1">
				<article id="product">
					<header>
						<h2>Funktionen</h2>

					</header>
					<div class="container">
						<div class="row">
							<div class="12u">
							</div>
						</div>
						<div class="row">
<div class="4u">
<article class="box box-style2">
<div class="image image-full"><img src="images/portfolio05.jpg" alt="" /></div>
<h3>Sicherheit - bequem & einfach</h3>
<p>Absolute Sicherheit mit Ende zu Ende Verschlüsselung (RSA-4096, AES-256, Perfect Forward Secrecy). Sicherheit kann jeder.</p>
</article>
</div>
<div class="4u">
<article class="box box-style2">
<div class="image image-full"><img src="images/portfolio06.jpg" alt="" /></div>
<h3>OpenSource - 100% transparent</h3>
<p>Bewährte Kryptographie ist nicht angreifbar, selbst wenn der Source Code bekannt ist.  Wir halten unsere Versprechen.</p>
</article>
</div>
<div class="4u">
<article class="box box-style2">
<div class="image image-full"><img src="images/portfolio01.jpg" alt="" /></div>
<h3>Alle Endgeräte - perfekte Lösung</h3>
<p>Parallele Nutzung von allen Endgeräten wie Desktop/Tablet/Smartphone mit einem Account.Immer richtig, in allen Situationen.</p>
</article>
</div>
<div class="4u">
<article class="box box-style2">
<div class="image image-full"><img src="images/portfolio12.jpg" alt="" /></div>
<h3>Multi Identitäten - richtig Auftreten</h3><p>
Integration aller Lebensbereiche wie Beruf, Familie, Hobby in einem Account. Immer das richtige Profil zeigen.</p>
</article>
</div>
<div class="4u">
<article class="box box-style2">
<div class="image image-full"><img src="images/portfolio07.jpg" alt="" /></div>
<h3>Anonymität - einfach mal inkognito</h3><p>
Auch komplett anonyme Nutzung möglich. Es gibt immer mal einen guten Grund, unerkannt bleiben zu wollen.</p>
</article>
</div>
<div class="4u">
<article class="box box-style2">
<div class="image image-full"><img src="images/portfolio13.jpg" alt="" /></div>
<h3>Unified Messaging - auf allen Kanälen</h3><p>
Sämtliche elektronischen Kommunikationswege stehen zur Verfügung: cameoNet, SMS, Email, Twitter oder Facebook. Mit maximaler Sicherheit.</p>
</article>
</div>
<div class="4u">
<article class="box box-style2">
<div class="image image-full"><img src="images/portfolio14.jpg" alt="" /></div>
<h3>Externe Nutzer - herzlich Willkommen</h3><p>
Externe Nutzer erhalten Nachrichten und Dateien sogar mit einfachem Sicherheitsniveau, auch ohne sich bei cameoNet registrieren zu müssen.</p>
</article>
</div>
<div class="4u">
<article class="box box-style2">
<div class="image image-full"><img src="images/portfolio11.jpg" alt="" /></div>
<h3>Kostenlos - mehr umsonst geht nicht</h3><p>
cameoNet ist in der Basic Version kostenlos und garantiert werbefrei. Für immer und ewig. Mehr geht nicht.</p>
</article>
</div>
<div class="4u">
<article class="box box-style2">
<div class="image image-full"><img src="images/portfolio10.jpg" alt="" /></div>
<h3>Zusatzfunktionen fürs Business kostenpflichtig & profitabel</h3><p>
Organisationen präsentieren sich und die eigenen Mitarbeiter. Verschlüsselte Kommunikation mit anderen teilen. Und vieles andere Mehr.</p>
</article>
</div>

						</div>

					</div>

				</article>
					<footer>
				<p>Demnächst hier erhältlich!</p>
				<div class="store">
							<div class="storelink">
									<div class="image image-full"><img src="images/appStore.png" alt="" /></div>
							</div>
							<div class="storelink">
									<div class="image image-full"><img src="images/playStore.png" alt="" /></div>
							</div>
							<div class="storelink">
									<div class="image image-full"><img src="images/winStore.png" alt="" /></div>
							</div>
				</div>
						<a href="#business" class="button button-big">Business</a>
					</footer>
				</article>
			</div>
			</div>


		<!-- business -->
			<div class="wrapper wrapper-style3">
				<article id="business">
					<header>
						<h2>Business und Organisationen</h2>
						<span>cameoNet bietet für Geschäftskunden viele gewinnbringende Zusatzfeatures und ist kostenpflichtig.<br>
					</header>
					<div class="container">
						<div class="row">
							<div class="11u">
							</div>
						</div>
						<div class="row">
							<div class="4u">
								<article class="box box-style2">
									<div class="image image-small"><img src="images/business01.png" alt="" /></div>
									<h3>cameoCard Pro</h3>
									<p>Unternehmensprofil mit allgemeinen Kontaktdaten und Mitarbeiterverknüpfung</p>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<div class="image image-small"><img src="images/business02.png" alt="" /></div>
									<h3>Mitarbeiter Identitäten</h3>
									<p>Mitarbeiter haben interne und externe Profile</p>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<div class="image image-small"><img src="images/business03.png" alt="" /></div>
									<h3>Dokumentenechtheit</h3>
									<p>Mit Sicherheit wissen, dass das Dokument echt ist</p>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<div class="image image-small"><img src="images/business04.png" alt="" /></div>
									<h3>Authentifizierung</h3>
									<p>Schön, wenn man weiß, mit wem man spricht</p>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<div class="image image-small"><img src="images/business05.png" alt="" /></div>
									<h3>Externe Kundeneinbindung</h3>
									<p>Einfache integration externer Kunden in Kommunikation</p>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<div class="image image-small"><img src="images/business06.png" alt="" /></div>
									<h3>Archiv</h3>
									<p>Variable Speichergröße Aufbewahrungszeit bis zu 10 Jahre</p>
								</article>
							</div>

							<div class="4u">
								<article class="box box-style2">
									<div class="image image-small"><img src="images/business07.png" alt="" /></div>
									<h3>Delegationsmanagement</h3>
									<p>Für sichere Kommunikation auch bei Delegation oder Vertretung</p>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<div class="image image-small"><img src="images/business08.png" alt="" /></div>
									<h3>SMS</h3>
									<p>Günstige Pakete für erweiterte Auslandskommunikation</p>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<div class="image image-small"><img src="images/business09.png" alt="" /></div>
									<h3>Präsenzerkennung</h3>
									<p>Erkennen, wann die Gegenseite anwesend ist</p>
								</article>
							</div>

						</div>
					</div>
					<footer>
						<p>Die detaillierten Konditionen werden im Frühsommer bekannt gegeben.<br> 
Geschäftskunden, die Interesse an einem Beta-Test haben, melden sich bitte hier.</p>
						<a href="#contact" class="button button-big">Kontakt</a>
					</footer>
				</article>
			</div>

		<!-- FAQ -->
			<div class="wrapper wrapper-style2">
				<article id="faq">
					<header>
						<h2>FAQ</h2>
					</header>
					<div class="container">
						<div class="row">
							<div class="12u">

<h3>Warum is cameoNet sicherer?</h3>
<div class="faqtext">
<p>cameoNet nutzt bewährte Kryptologie und beweist mit Open Source, das es auch
seine Versprechen hält. cameoNet ist so sicher, das selbst wir die
Nachrichten und Anhänge nicht lesen können.
</p><hr />
</div>

<h3>Kann ich mit cameoNet auch Dateien versenden?</h3>
<div class="faqtext">
<p>Mit cameoNet können Sie auch sicher, einfach und unkompliziert Dateien versenden.
</p><hr />
</div>

<h3>Wie melde ich mich an?</h3>
<div class="faqtext">
<p>Schon bald können Sie an einem BetaTest teilnehmen. Wenn Sie informiert
werden wollen, tragen Sie sich hier ein.
</p><hr />
</div>

<h3>Wer steht hinter cameNet?</h3>
<div class="faqtext">
<p>Ein Team erfahrener Unternehmer und Entwickler, denen selbstbestimmte
Kommunikation mehr als wichtig ist.
</p><hr />
</div>

<h3>Anonym anmelden, wie geht das?</h3>
<div class="faqtext">
<p>Sie können sich ohne Mobilnummer oder Mailadresse anmelden. Nachteil ist,
dass wir Ihnen natürlich niemals Ihr Paßwort zurückstellen können, wenn Sie
es verloren haben sollten.</p>
</p><hr />
</div>
					</div> 
						</div>
							</div>
					<footer>
<h3>Wenn Sie weitere Fragen haben, dann senden Sie uns diese bitte hier.</h3>
						<a href="#contact" class="button button-big">Kontakt</a>
					</footer>
				</article>
			</div>


		<!-- Contact -->
			<div class="wrapper wrapper-style4">
				<article id="contact" class="container small">
					<header>
						<h2><span>Kontakt</span></h2>
					</header><br>
					<div>
						<div class="row">
							<div class="12u">
								<form method="post" action="#">
									<div>
										<div class="row half">
											<div class="6u">
												<input type="text" name="name" id="name" placeholder="Name" />
											</div>
											<div class="6u">
												<input type="text" name="email" id="email" placeholder="Email" />
											</div>
										</div>
										<div class="row half">
											<div class="12u">
												<input type="text" name="subject" id="subject" placeholder="Subject" />
											</div>
										</div>
										<div class="row half">
											<div class="12u">
												<textarea name="message" id="message" placeholder="Message"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<a href="#" class="button form-button-submit">Send Message</a>
												<a href="#" class="button button-alt form-button-reset">Clear Form</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
				</article>
			</div>
			<div class="wrapper wrapper-style4">
				<article id="impressum">
						<div class="row">
							<div class="12u">
								<hr />
								<h3>Impressum</h3>
<p>Cameo ein Dienst der:<br> 
memo Connect GmbH<br> 
Große Nikolaistraße 7 06108 Halle (Saale) Germany<br> 
Fon: +49 345 213 79 66 5<br> 
Fax: +49 345 213 79 66 59<br> 
Amtsgericht Stendal HRB 20018<br> 
Geschäftsführer: Dr. Holger Haedrich, Michael Merz</p>
								<hr />
							</div>
						</div>
					<footer>
						<ul id="copyright">
							<li>&copy; 2013 <a href="http://cameo.io">cameoNet</a></li>
						</ul>
					</footer>
				</article>
			</div>
	</body>
</html>